* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(131, 131, 131);
    background: radial-gradient(circle, rgba(131, 131, 131, 1) 0%, rgba(61, 61, 61, 1) 100%);
}